<a href="https://colab.research.google.com/github/Sheilack/Data-Manipulation-language-checkpoint/blob/main/DataframeFilteringandSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)

print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [ ]:
# Use the iloc method to select the first 3 rows of the dataframe
rows = employee_df.iloc[[0, 1, 2]]
print(rows)

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [ ]:
# Use the loc method to select all rows where the Department is "Marketing".
subset = employee_df.loc[employee_df['Department'] == "Marketing", : ]
print(subset)

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [ ]:
# Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.

subset=employee_df.iloc[[0, 1, 2, 3],[2, 3]]
print(subset)

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [ ]:
# Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".

filtered_data = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print(filtered_data)

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10

Dataframe loc/iloc;
Dataframe loc The loc() method allows us to extract rows and columns by labeled index.

Dataframe iloc The iloc() follows the same rules as loc(). It extracts rows and columns by selecting indexes.

Pandas is a Python library for data manipulation and analysis. It provides two primary data structures: Series (a one-dimensional array-like object) and DataFrame (a two-dimensional tabular data structure). Pandas allows for data cleaning, preprocessing, merging, grouping, and filtering, and can handle missing data. Some common operations in Pandas include selecting and indexing data, computing summary statistics, and merging multiple data sources. With its powerful and flexible tools for data analysis, Pandas has become an essential tool for working with structured data in Python.